*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

*.root
!job/reinteractions/data/
!job/reinteractions/data/*.root
*.csv
*.png

.tmp/*
local-output/

*.log
*.tar

*.pt
*.npy
*.err
*.out
*.tbz2
__pycache__/
*.pyc
