
*.d


*.slo
*.lo
*.o
*.obj


*.gch
*.pch


*.so
*.dylib
*.dll


*.mod
*.smod


*.lai
*.la
*.a
*.lib


*.exe
*.out
*.app

*.root
*.csv
*.png

build_log.txt

Sandbox/*
!Sandbox/.keep

.tmp/*

*.log
*.tar

*.pt